body{
    margin: 0;
    padding: 0;
    /* background-image: url(image/mot.jpg); */
}
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: darkred;
}
ul{
    height: 100%;
    padding: 50px;
    gap: 40px;
}
.saved-quote {
    display: flex;
    justify-content: space-between; /* Align items in a flex container with equal space between them */
    align-items: center; /* Center items vertically */
    margin-bottom: 30px; /* Add some space between each saved quote */
    font-size: 19px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: 60px;
    text-align: center;
}
